<!DOCTYPE html>
<html>
<head>
  <title>Namaho</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css?v=0.0.6">
</head>
<body>
<div class="wrapper">
  <div class="aside">
    <p><a href="/ssweb/user/info">信息页</a></p>
    <p class="curr"><a href="/ssweb/login">登陆</a></p>
    <p><a href="/ssweb/signup">注册</a></p>
  </div>
  <div class="main">
    <form action="/ssweb/user/login" method="POST">
    	<p><input type="text" name="email" size="30" placeholder="邮箱"></p>
    	<p><input type="password" name="password" size="30" placeholder="密码"></p>
    	<p><input type="submit" value="登陆"></p>
    </form>
    <div>
        <p><a href="/ssweb/user/forgot_password">忘记密码？</a></p>
    </div>
  </div>
</div>
</body>
</html>
