<!DOCTYPE html>
<html>
<head>
  <title>Namaho</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css?v=0.0.6">
  <script>
    function validateForm() {
        var ok = true;

        var email = document.getElementById("email").value;
	var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(email) != true) {
            alert("需要用邮箱来注册啊");
            ok = false;
	}

        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != pass2) {
            alert("密码两次输入不一样啊");
            ok = false;
        }
        return ok;
    }
  </script>
</head>
<body>
<div class="wrapper">
  <div class="aside">
    <p><a href="/ssweb/user/info">信息页</a></p>
    <p><a href="/ssweb/login">登陆</a></p>
    <p><a href="/ssweb/signup">注册</a></p>
  </div>
  <div class="main">
    <form action="/ssweb/user/reset_password" onsubmit="return validateForm()" method="POST">
        <h3>重置密码</h3>
        <p><label>新密码:</label><input type="password" name="password" id="password" size="30"></p>
        <p><label>重新输入密码:</label><input type="password" name="password2" id="password2" size="30"></p>
        <input type="hidden" name="verify_code" id="verify_code" value="{{.Value}}">
        <p><input type="submit" value="提交"></p>
    </form>
  </div>
</div>
</body>
</html>
