<!DOCTYPE html>
<html>
<head>
  <title>Namaho</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css?v=0.0.6">
  <script>
    function setSrcQuery(e, q) {
        var src  = e.src;
        var p = src.indexOf('?');
        if (p >= 0) {
            src = src.substr(0, p);
        }
        e.src = src + "?" + q
    }
    
    function reload() {
        setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
        return false;
    }

    function validateForm() {
        var ok = true;

        var email = document.getElementById("email").value;
	var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(email) != true) {
            alert("需要用邮箱来注册啊");
            ok = false;
	}

        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != pass2) {
            alert("密码两次输入不一样啊");
            ok = false;
        }
        return ok;
    }
  </script>
</head>
<body>
<div class="wrapper">
  <div class="aside">
    <p><a href="/ssweb/user/info">信息页</a></p>
    <p><a href="/ssweb/login">登陆</a></p>
    <p class="curr" ><a href="/ssweb/signup">注册</a></p>
  </div>
  <div class="main">
    <form action="/ssweb/user/signup" onsubmit="return validateForm()" method="POST">
        <p><input type="text" name="email" id="email" size="30" placeholder="邮箱"></p>
        <p><input type="password" name="password" id="password" size="30" placeholder="密码"></p>
        <p><input type="password" name="password2" id="password2" size="30" placeholder="再次输入密码"></p>
        <p><input name="captchaSolution" size="30" placeholder="输入验证码"></p>
        <p><img width="190px" id="image" onclick="reload()" src="/ssweb/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
        <input type="hidden" name="captchaId" value="{{.CaptchaId}}">
        <p><input type="submit" value="注册"></p>
        <p>提交后会有一封验证邮件发送到你的注册邮箱，请查收邮件完成注册。</p>
    </form>
  </div>
</div>
</body>
</html>
